[user]
	name = letrungkien211
	email = letrungkien211@gmail.com
[core]
	autocrlf = false
	editor = emacs -nw
	eol = lf
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[diff]
	tool = ediff
[color]
	ui = auto
[credential]
	helper = store
[push]
	default = simple
